// Colors By Name
$LaPalma: #229518;
$White: white;
$Black: black;


// Colors By Location
$cDonateBox: $LaPalma;
$cDonateButtonDefault: $LaPalma;
$cDonateButtonHover: $White;
$cDonateButtonDefaultText:$White;
$cDonateButtonHoverText: $LaPalma;
